* { padding: 0; margin: 0; } /* hacky non-legit reset */

body {
    background-color: #2B4B6F;
    font-size: 62.5%
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section {
    color: #fff;
    width: 50%;
}

h1, h4 {
    text-align: center;
    padding-bottom: 1.875rem;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4.4rem;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    color: #9FBAD8;
}

ul {
    display: table;
    table-layout: fixed;
    list-style: none;
    width: 60%;
    margin-left: 20%;
}

ul li {
    display: table-cell;
    text-align: center;
    font-size: 3.8rem;
}

ul li a {
    color: #020D19;
    transition: 0.2s;
}

ul li a:hover {
    color: #9FBAD8;
}
